/* Body and html */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    
    padding: 1em;
    font-size: 16pt;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: repeat (auto, 10);
    grid-template-areas:   
        "sidebar"
        "header"
        "main"
        "sec1"
        "sec2"
        "sec3"     
        "sec4"
        "sec5"
        "sec6"
        "footer";
}


/* Grid Areas */

aside {
    grid-area: sidebar;
    border: 1px solid gray;
}

header {
    grid-area: header;
    background-color: black;   
}

main {
    grid-area: main;    
    background-image: url("https://res.cloudinary.com/devra29/image/upload/c_scale,o_40,w_2888/v1616437003/pexels-anthony-794494_innqu9.jpg") ;
	background-position: center;  
}

section:nth-of-type(1) {
    grid-area: sec1; 
}
   
section:nth-of-type(2){
    grid-area: sec2;
}

section:nth-of-type(3){
    grid-area: sec3;  
}

section:nth-of-type(4){
    grid-area: sec4; 
}

section:nth-of-type(5){
    grid-area: sec5;   
}

section:nth-of-type(6){
    grid-area: sec6;  
}

.section-border {
    border: 1px solid rgb(173, 171, 171);
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
} 

/* Font Sizes and color */

.aside_text {
    font-family: 'Lora', serif;
    font-size: 8vw;
    color: #1e137a;
    font-weight: bolder;
    margin-top: 0;
    padding-left:.5em;
}

h1 {
    font-size: 6vw;
    font-weight: 900;
    color: rgb(20, 20, 20);
    text-align: left;
    padding: 0 0 0 .5em;
}

h2 {
    font-size: 5vw;
    padding: .5em;
    text-align: center;
}

p {
    font-size: 1em;
}

.header_offer {
    font-size: .75em;
    color: white;
    text-align: center;
}

.header_link {
    color: white;
    text-decoration: underline;
}

.main_text {
    color: rgb(20, 20, 20);
    text-align: left;
    padding: 0 0 0 2em;
    font-weight: bold;
    font-size: .75em;
 }

 .footer_text {
    font-size: .75em;
    padding: 1em;
}

/* Menu */

ul, li {
    margin: 0;
    padding: .5; 
    list-style: none;
    font-size: 4vw; 
}

li {
    display: inline;
}

.aside_menu {
    text-decoration: none;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin:.25em 1em;
    padding:0;
}

a {
    text-decoration: none;
    color: #000;
}


/* Padding, Margins and Alignment */

.padding {
    margin: 0 0 .5em .5em;
}

.article_alignment {
    width: 80%;
    text-align: justified;
    display: block;
    margin: auto;
    padding-top: 1em; 
}


/* Images*/

.img_products {
    width: 80%;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 1em; 
}


/* Buttons*/
button{
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
    background-color: #132f74;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    color: white;
    text-decoration: none;  
}

@media only screen and (min-width: 765px) {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: auto 35% 35%;
        grid-template-rows: auto auto auto auto auto 10%;
        grid-template-areas: 
            "sidebar   header        header "
            "sidebar   main          main"
            "sidebar   sec1          sec2"
            "sidebar   sec3          sec4"
            "sidebar   sec5          sec6"
            "footer    footer        footer";
    }

    /* Font Sizes and color */

    h2 {
        font-size: 2vw;
    }

    .main_text {
        font-size:2vw;
     }


    /* Menu */

    ul, li {
        margin: 0;
        padding: 0 0 .25em 0; 
        display: block;
        font-size: 2.25vw;
    }

    .aside_text {
        font-size: 4vw;     
    }

    .aside_menu {
        display: block; 
        font-size: 1.25em; 
        text-decoration: none;
    }
    aside {
        border-right: 1px solid gray;
    }
    
}


